<div class="map card card-body" [@showMap]=mapState (mouseover)="setAnim('focus')" (mouseleave)="setAnim('unfocus')" [@focus]=animState>
  <div class="row">
    <div class="col-8">
      <input class="form-control" id="locationSearch" placeholder="Search Location" #searchTerm>
    </div>
    <button class="btn btn-primary" id="searchBtn" (click)="geocodeLocation(searchTerm.value)">Search</button>
  </div>
  <div class="card">
    <div class="mapHeader row card-body">
      <button class="btn btn-outline-primary" id="showMapBtn" (click)="showHideMap()" style="width: 100%;">{{mapState}} Map</button>
    </div>
    <div class="pt-2 hide" [hidden]="!showMap" id="mapContainer">
      <google-map
      height="28.5vh"
      width="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
      (mapClick)="click($event)"
    >
      <map-marker
        #markerElem
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
      >
      </map-marker>
    </google-map>
    </div>
</div>

