<div class="map card card-body">
  <div class="row">
    <div class="col-8">
      <input class="form-control" id="locationSearch" placeholder="Search Location">
    </div>
    <button class="btn btn-primary" id="searchBtn">Search</button>
  </div>
  <div class="card">
    <div class="mapHeader row card-body">
      <button class="btn btn-outline-primary" id="showMapBtn" (click)="showHideMap()" style="width: 100%;">{{mapState}} Map</button>
    </div>
    <div class="hide pt-2" id="mapContainer">
      <google-map
      height="28.5vh"
      width="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
      (mapClick)="click($event)"
      (mapDrag)="setCenter()"
      (zoomChanged)="setCenter()"
    >
      <map-marker
        #markerElem
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
      >
      </map-marker>
    </google-map>
    </div>
</div>

